.header,
.main {
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.main {
  display: flex;
  justify-content: flex-end;
  position: relative;
  gap: 50px;
}

.mainSide {
  min-width: 70%;
  margin: 0 auto;
}

.dark {
  background-color: var(--dark-bg-color);
  color: var(--white-text);
}
