.header,
.main {
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.main {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.mainSide {
  min-width: 70%;
}

.detailSide {
  padding: 100px 0 0 20px;
  border-left: solid 2px var(--green-border);
  width: 30%;
}

.dark {
  background-color: var(--dark-bg-color);
  color: var(--white-text);
}

.dark .detailSide {
  border-color: var(--white-border);
}
